<a href="https://colab.research.google.com/github/KitdelRosario/58013-Linear-Algebra/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Variable and Data Types***

In [1]:
x = 1
a,b = 0,-1

type(x)

y = 1.0
type(y)

x = float(x)
type(x)

s,t,u = "0",'1','one'
type(s)

s_int = int(s)
s_int

0

***Arithmetic Operations***

In [8]:
a,b,c,d = 2.0,-0.5,0,-32

###Addition

S = a+b
S

1.5

In [ ]:
###Subtraction
D = b-d
D

In [7]:
###Multiplication
P = a*d
P

-64.0

In [6]:
###Division
Q = c/a
Q

0.0

In [5]:
###Exponentiation
E = a**b
E

0.7071067811865476

In [4]:
###Modulo
mod = d%a
mod

0.0

***Comparators***

In [9]:
res_1,res_2,res_3 = 1,2.0,"1"
true_val = 1.0

##Equality
res_1 == true_val

True

In [10]:
##Non-equality
res_2 != true_val

True

In [11]:
##Inequality
t1 = res_1>res_2
t2 = res_1<res_2/2
t3 = res_1>=res_2/2
t4 = res_1<=res_2
t1

False

***Logical***

In [13]:
res_1 == true_val
res_1 is true_val
res_1 is not true_val

True

In [14]:
p, q = True, False
conj = p and q
conj

False

In [15]:
p, q = True, False
disj = p or q
disj

True

In [16]:
p, q = True, False
nand = not(p and q)
nand

True

In [17]:
p, q = True, False
xor = (not p and q) or (p and not q)
xor

True

***Input and Output Operations***

In [18]:
print("Hello World")

Hello World

In [20]:
cnt = 1
string = "Hello World"
print(string, ", Current run count is:", cnt)
cnt += 1
print(f"{string}, Current count is: {cnt}")

Hello World , Current run count is: 1
Hello World, Current count is: 2

In [21]:
sem_grade = 82.243564657461234
name = ""
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Hello , your semestral grade is: 82.24356465746123

In [23]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

The weights of your semestral grades are:
	30.00% for Prelims
	30.00% for Midterms, and
	40.00% for Finals.

In [24]:
x = input("enter a number: ")
x

enter a number: 90

'90'

In [35]:
name = input("Kimi no nawa: ")
pg = float(input("Enter prelim grade: "))
mg = float(input("Enter midterm grade: "))
fg = float(input("Enter finals grade: "))
sem_grade = (pg*0.3)+(mg*0.3)+(fg*0.4)
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Kimi no nawa: kit
Enter prelim grade: 78
Enter midterm grade: 90
Enter finals grade: 89
Hello kit, your semestral grade is: 86.0

***Looping Statements***

In [36]:
## while loops
i, j = 0, 10
while(i<=j):
  print(f"{i}\t|\t{j}")
  i+=1

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10

In [51]:
#for(int i=0; i<10; i++){
    # printf(i)
    # }
i = 0
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

***Flow Control***

In [52]:
###Condition Statements
numeral1, numeral2 = 12, 12
if(numeral1 == numeral2):
  print("Yey")
elif(numeral1>numeral2):
  print("Hoho")
else:
  print("Aww")
print("Hip hip")

Yey
Hip hip

***Functions***

In [56]:
# void DeleteUser(int userid){
    # delete(userid);
    # }
def delete_user (userid):
  print("Successfully deleted user: {}".format(userid))
def delete_all_users ():
  print("Successfully deleted all users")