<a href="https://colab.research.google.com/github/KitdelRosario/58013-Linear-Algebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Python Identation***

In [1]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

***Python Comments***

In [3]:
#This is a comment
print("Hello, world")

Hello, world

***Python Variable***

In [4]:
x = 1
a,b = 0,-1
a,b,c = 0,-1,2

In [5]:
b = "Sally" #This is a type of string

***Casting***

In [18]:
b = "sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

***Type() function***

In [9]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

***Double quote / Single quote***

In [19]:
y = "John"
y = 'John'

***Case Sensitive***

In [20]:
a = 4
A = "Sally"
#A will not overwrite a

Multipla Variables
***bold text***
```
# This is formatted as code
```

In [21]:
x,y,z = "one","two","three"
print(x)
print(y)
print(z)

one
two
three

***One Value to Multiple Variables***

In [22]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

***Output Variables***

In [23]:
x = "enjoying"
print("Python programming is "+x)

Python programming is enjoying

In [26]:
x = "Python is "
y = "enjoying"
z = x+y
print(z)

Python is enjoying

***Arithmetic Operations***

In [27]:
x = 5
y = 3
print(x + y)

x = 5
y = 3
sum = x + y
sum

8

8

***Assignment Operator***

In [29]:
a,b,c = 0,-1,6
c%= 3
c

0

***Comparison and Logical Operators***

In [32]:
a,b,c = 0,-1,6
a>b and c>b

True

***Identity Operators***

In [33]:
a,b,c = 0,-1,5
a is c

False

***Bitwise Operators***

In [37]:
a,b,c = 0,-1,5
c<<1

10